@font-face {
  font-family: "cdp-iconfont";
  src: url("//at.alicdn.com/t/font_1476950934_0212882.eot");
  src: url("//at.alicdn.com/t/font_1476950934_0212882.woff") format("woff"), url("//at.alicdn.com/t/font_1476950934_0212882.ttf") format("truetype"), url("//at.alicdn.com/t/font_1476950934_0212882.svg#iconfont") format("svg");
}

.cdp-iconfont {
  font-family: "cdp-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.mb20 {
  margin-bottom: 0.27778rem;
}

.float-box {
  position: fixed;
  z-index: 999999;
  left: 0.27778rem;
  bottom: 1.38889rem;
}

.float-box-item {
  display: block;
  width: 0.94444rem;
  height: 0.94444rem;
  margin-bottom: 0.13889rem;
  border-radius: 0.08333rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 0.91667rem;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.float-box-item:link, .float-box-item:visited, .float-box-item:hover, .float-box-item:active {
  color: #fff;
}

[data-dpr="2"] .float-box-item {
  font-size: 48px;
}

[data-dpr="3"] .float-box-item {
  font-size: 72px;
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.inputBlock {
  display: block;
}

.inputText {
  background-color: #fff;
  border: 1px solid #e2e1e1;
  border-radius: 0.08333rem;
  color: #464646;
  font-size: 16px;
}

.inputBtn {
  background-color: #ff627a;
  border: none;
  border-radius: 0.08333rem;
  color: #fff;
  font-size: 16px;
}

[data-dpr="2"] .inputText {
  font-size: 32px;
}

[data-dpr="3"] .inputText {
  font-size: 48px;
}

[data-dpr="2"] .inputBtn {
  font-size: 32px;
}

[data-dpr="3"] .inputBtn {
  font-size: 48px;
}

.inputType1,
.inputType2,
.inputType3,
.inputType4 {
  box-sizing: border-box;
  height: 1.11111rem;
  padding: 0.33333rem 0.27778rem;
  line-height: 0.44444rem;
}

.inputType1 {
  width: 9.44444rem;
}

.inputType2 {
  width: 5.27778rem;
}

.inputType3 {
  width: 3.83333rem;
}

.inputType4 {
  margin: 0 auto;
  width: 9.44444rem;
  height: 1.27778rem;
  padding: 0.41667rem 0.27778rem;
}

.user-form-submit {
  margin: 0.52778rem 0 0.66667rem;
}

.user-form-title {
  text-align: center;
  margin-top: 0.27778rem;
  line-height: 1.30556rem;
  font-size: 16px;
  color: #878787;
}

[data-dpr="2"] .user-form-title {
  font-size: 32px;
}

[data-dpr="3"] .user-form-title {
  font-size: 48px;
}

.user-form {
  box-sizing: border-box;
  width: 9.44444rem;
  margin: 0 auto;
  border: 1px solid #e2e1e1;
  background-color: #fff;
}

.user-form-item-icon, .user-form-item-sub {
  display: inline-block;
  box-sizing: border-box;
  height: 1.36111rem;
}

.user-form-item-icon {
  float: left;
  width: 1.36111rem;
  line-height: 1.36111rem;
  text-align: center;
  color: #878787;
  font-size: 20px;
}

.user-form-item-sub {
  float: right;
  width: 7.91667rem;
  border-bottom: 1px solid #e2e1e1;
}

.user-form-item-sub input,
.user-form-item-sub select {
  border: none;
  width: 6.80556rem;
  height: 1.25rem;
  margin-left: 0.13889rem;
  margin-top: 0.05556rem;
  font-size: 16px;
  color: #333;
}

.user-form-item-sub i {
  margin-left: 0.22222rem;
  color: #878787;
  font-size: 16px;
}

.user-form-item2 .user-form-item-sub {
  border-bottom: none;
}

.user-form textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.13889rem;
  min-height: 2.77778rem;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

[data-dpr="2"] .user-form-item-icon {
  font-size: 40px;
}

[data-dpr="2"] .user-form-item-sub input,
[data-dpr="2"] .user-form-item-sub select,
[data-dpr="2"] .user-form-item-sub i {
  font-size: 32px;
}

[data-dpr="2"] .user-form textarea {
  font-size: 32px;
}

[data-dpr="3"] .user-form-item-icon {
  font-size: 60px;
}

[data-dpr="3"] .user-form-item-sub input,
[data-dpr="3"] .user-form-item-sub select,
[data-dpr="3"] .user-form-item-sub i {
  font-size: 48px;
}

[data-dpr="3"] .user-form textarea {
  font-size: 48px;
}

.release-header {
  width: 100%;
  height: 4.58333rem;
  background: #ff627a url(../img/fabu-img@3x.jpg) no-repeat center center;
  background-size: 100%;
}

.release-header p {
  width: 86%;
  margin: 0 auto;
  padding-top: 1.25rem;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

[data-dpr="2"] .release-header p {
  font-size: 28px;
}

[data-dpr="3"] .release-header p {
  font-size: 42px;
}
