@charset "UTF-8";
@font-face {
  font-family: "cdp-iconfont";
  src: url("//at.alicdn.com/t/font_ifnmwuqfqidon7b9.eot");
  src: url("//at.alicdn.com/t/font_ifnmwuqfqidon7b9.woff") format("woff"), url("//at.alicdn.com/t/font_ifnmwuqfqidon7b9.ttf") format("truetype"), url("//at.alicdn.com/t/font_ifnmwuqfqidon7b9.svg#iconfont") format("svg");
}

.cdp-iconfont {
  font-family: "cdp-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.mb20 {
  margin-bottom: 0.27778rem;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.float-box {
  position: fixed;
  z-index: 999999;
  left: 0.27778rem;
  bottom: 1.38889rem;
}

.float-box-item {
  display: block;
  width: 0.94444rem;
  height: 0.94444rem;
  margin-bottom: 0.13889rem;
  border-radius: 0.08333rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 0.91667rem;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.float-box-item:link, .float-box-item:visited, .float-box-item:hover, .float-box-item:active {
  color: #fff;
}

[data-dpr="2"] .float-box-item {
  font-size: 48px;
}

[data-dpr="3"] .float-box-item {
  font-size: 72px;
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup .tip {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 70%;
  border-radius: 0.13889rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0.55556rem 0.27778rem;
  background-color: #fff;
  color: #878787;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

[data-dpr="2"] .popup .tip {
  font-size: 32px;
}

[data-dpr="3"] .popup .tip {
  font-size: 48px;
}

body {
  padding-bottom: 1.11111rem;
}

.detail-header {
  display: block;
  width: 100%;
  background-color: #efefef;
}

.detail-header-img {
  height: 8.33333rem;
}

.detail-header-info {
  padding: 0.55556rem 0.77778rem;
  background-color: #fff;
  text-align: center;
}

.detail-header-info .detail-header-info-title {
  margin: 0 auto 0.27778rem;
  font-size: 21px;
  font-weight: 600;
  line-height: 0.77778rem;
  color: #333;
}

.detail-header-info .detail-header-info-detail {
  font-size: 16px;
  color: #878787;
}

.detail-header-info .detail-header-info-detail i {
  display: inline-block;
  margin: 0 0.11111rem 0.27778rem;
  color: #ff7200;
  font-size: 17px;
}

[data-dpr="2"] .detail-header-info .detail-header-info-title {
  font-size: 42px;
}

[data-dpr="2"] .detail-header-info .detail-header-info-detail {
  font-size: 32px;
}

[data-dpr="2"] .detail-header-info .detail-header-info-detail i {
  font-size: 34px;
}

[data-dpr="3"] .detail-header-info .detail-header-info-title {
  font-size: 63px;
}

[data-dpr="3"] .detail-header-info .detail-header-info-detail {
  font-size: 48px;
}

[data-dpr="3"] .detail-header-info .detail-header-info-detail i {
  font-size: 51px;
}

.detail-map-box {
  display: block;
  width: 100%;
  height: 6.13889rem;
}

.detail-part {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

.detail-part-title {
  text-align: center;
  line-height: 1.52778rem;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.detail-part-introduce {
  padding: 0.13889rem 0.27778rem;
}

.detail-part-introduce-list {
  margin-bottom: 0.13889rem;
}

.detail-part-introduce-list li {
  border-bottom: 1px solid #efefef;
}

.detail-part-introduce-list li:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.detail-part-introduce-list li span {
  float: left;
}

.detail-part-introduce-list li i {
  float: right;
}

.detail-part-introduce-list li span, .detail-part-introduce-list li i {
  font-size: 16px;
  color: #464646;
  line-height: 1.11111rem;
}

.detail-part-introduce p {
  padding-top: 0.22222rem;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  text-align: justify;
}

.detail-part-facilities {
  padding: 0.13889rem 0.27778rem;
}

.detail-part-facilities-list li {
  float: left;
  width: 25%;
  height: 2.22222rem;
  color: #878787;
}

.detail-part-facilities-list li i, .detail-part-facilities-list li span {
  display: block;
  text-align: center;
}

.detail-part-facilities-list li i {
  font-size: 30px;
  line-height: 1.66667rem;
}

.detail-part-facilities-list li span {
  font-size: 14px;
  color: #464646;
  line-height: 0.55556rem;
}

.detail-part-history {
  position: relative;
  overflow: hidden;
}

.detail-part-history-img {
  height: 5.38889rem;
}

.detail-part-history-info {
  margin-top: 0.22222rem;
  padding: 0 0.27778rem;
  line-height: 0.83333rem;
  font-size: 14px;
  color: #464646;
}

.detail-part-history-info span {
  float: right;
  color: #878787;
}

.detail-part-service {
  text-align: center;
}

.detail-part-service-avatar {
  margin: 0 auto 0.41667rem;
  width: 1.66667rem;
  height: 1.66667rem;
  border-radius: 50%;
  background-color: #ff7200;
}

.detail-part-service p {
  font-size: 13px;
  color: #464646;
}

.detail-part-service p:nth-of-type(2) {
  font-size: 10px;
  color: #878787;
}

.detail-part .detail-price {
  height: 2.19444rem;
  padding: 0.36111rem 0.27778rem 0.55556rem;
  background-color: #fff;
}

.detail-part .detail-price-left {
  float: left;
}

.detail-part .detail-price-left-left {
  float: left;
  width: 2.19444rem;
  height: 2.19444rem;
  background: #fff url("../img/detail-img-1@3x.jpg") no-repeat center center;
  background-size: 100%;
}

.detail-part .detail-price-left-right {
  float: left;
  width: 2.91667rem;
  margin-left: 0.27778rem;
}

.detail-part .detail-price-left-right h4 {
  line-height: 0.94444rem;
  font-size: 16px;
  color: #464646;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-part .detail-price-left-right p {
  line-height: 0.63889rem;
  font-size: 12px;
  color: #878787;
}

.detail-part .detail-price-left-right p i {
  margin-right: 0.13889rem;
}

.detail-part .detail-price-right {
  float: right;
  line-height: 2.19444rem;
  font-size: 20px;
  color: #ff7200;
}

.detail-part .detail-price-right i {
  font-size: 12px;
}

.detail-part .detail-price-right span {
  margin: 0 0.08333rem;
  font-size: 11px;
  color: #878787;
}

.detail-part .detail-price-right em {
  margin-left: 0.33333rem;
  font-size: 16px;
  color: #878787;
}

.detail-part .detail-price-sub {
  padding: 0 0.27778rem;
  background-color: #fff;
}

.detail-part .detail-price-sub-list {
  margin: 0 -0.27778rem;
  padding: 0 0.27778rem;
  background-color: #efefef;
}

.detail-part .detail-price-sub-list-item {
  min-height: 1.25rem;
  padding: 0.36111rem 0;
  border-bottom: 1px solid #e2e1e1;
}

.detail-part .detail-price-sub-list-item-left {
  float: left;
  width: 3.80556rem;
  line-height: 0.58333rem;
  font-size: 13px;
  color: #464646;
}

.detail-part .detail-price-sub-list-item-right {
  float: right;
  line-height: 1.25rem;
  font-size: 20px;
  color: #ff7200;
}

.detail-part .detail-price-sub-list-item-right i {
  font-size: 12px;
}

.detail-part .detail-price-sub-tip {
  padding: 0.22222rem 0 0.44444rem;
  color: #878787;
  font-weight: 200;
  font-size: 10px;
}

[data-dpr="2"] .detail-part-title {
  font-size: 40px;
}

[data-dpr="2"] .detail-part-introduce-list li span, [data-dpr="2"] .detail-part-introduce-list li i {
  font-size: 32px;
}

[data-dpr="2"] .detail-part-introduce p {
  font-size: 32px;
}

[data-dpr="2"] .detail-part-facilities-list i {
  font-size: 60px;
}

[data-dpr="2"] .detail-part-facilities-list span {
  font-size: 28px;
}

[data-dpr="2"] .detail-part-history-info {
  font-size: 28px;
}

[data-dpr="2"] .detail-part-service p {
  font-size: 26px;
}

[data-dpr="2"] .detail-part-service p:nth-of-type(2) {
  font-size: 20px;
}

[data-dpr="2"] .detail-part .detail-price-left-right h4 {
  font-size: 32px;
}

[data-dpr="2"] .detail-part .detail-price-left-right p {
  font-size: 24px;
}

[data-dpr="2"] .detail-part .detail-price-right {
  font-size: 40px;
}

[data-dpr="2"] .detail-part .detail-price-right i {
  font-size: 24px;
}

[data-dpr="2"] .detail-part .detail-price-right span {
  font-size: 22px;
}

[data-dpr="2"] .detail-part .detail-price-right em {
  font-size: 32px;
}

[data-dpr="2"] .detail-part .detail-price-sub-list-item-left {
  font-size: 26px;
}

[data-dpr="2"] .detail-part .detail-price-sub-list-item-right {
  font-size: 40px;
}

[data-dpr="2"] .detail-part .detail-price-sub-list-item-right i {
  font-size: 24px;
}

[data-dpr="2"] .detail-part .detail-price-sub-tip {
  font-size: 20px;
}

[data-dpr="3"] .detail-part-title {
  font-size: 60px;
}

[data-dpr="3"] .detail-part-introduce-list li span, [data-dpr="3"] .detail-part-introduce-list li i {
  font-size: 48px;
}

[data-dpr="3"] .detail-part-introduce p {
  font-size: 48px;
}

[data-dpr="3"] .detail-part-facilities-list i {
  font-size: 90px;
}

[data-dpr="3"] .detail-part-facilities-list span {
  font-size: 42px;
}

[data-dpr="3"] .detail-part-history-info {
  font-size: 42px;
}

[data-dpr="3"] .detail-part-service p {
  font-size: 39px;
}

[data-dpr="3"] .detail-part-service p:nth-of-type(2) {
  font-size: 30px;
}

[data-dpr="3"] .detail-part .detail-price-left-right h4 {
  font-size: 48px;
}

[data-dpr="3"] .detail-part .detail-price-left-right p {
  font-size: 36px;
}

[data-dpr="3"] .detail-part .detail-price-right {
  font-size: 60px;
}

[data-dpr="3"] .detail-part .detail-price-right i {
  font-size: 36px;
}

[data-dpr="3"] .detail-part .detail-price-right span {
  font-size: 33px;
}

[data-dpr="3"] .detail-part .detail-price-right em {
  font-size: 48px;
}

[data-dpr="3"] .detail-part .detail-price-sub-list-item-left {
  font-size: 39px;
}

[data-dpr="3"] .detail-part .detail-price-sub-list-item-right {
  font-size: 60px;
}

[data-dpr="3"] .detail-part .detail-price-sub-list-item-right i {
  font-size: 36px;
}

[data-dpr="3"] .detail-part .detail-price-sub-tip {
  font-size: 30px;
}

.float-btn {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.float-btn:after {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: " ";
  width: 1px;
  height: 1.38889rem;
  background-color: #fff;
}

.float-btn a {
  display: inline-block;
  width: 50%;
  height: 1.38889rem;
  line-height: 1.38889rem;
  background-color: #ff7200;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

[data-dpr="2"] .float-btn {
  font-size: 0;
}

[data-dpr="2"] .float-btn a {
  font-size: 32px;
}

[data-dpr="3"] .float-btn {
  font-size: 0;
}

[data-dpr="3"] .float-btn a {
  font-size: 48px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #efefef;
}

.img-wrapper:before {
  position: absolute;
  top: 50%;
  left: 0.41667rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "第一张啦";
  width: 0.16667rem;
  font-size: 14px;
  line-height: 1.2;
  color: #878787;
}

.img-wrapper:after {
  position: absolute;
  top: 50%;
  right: 0.41667rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "最后一张啦";
  width: 0.16667rem;
  font-size: 14px;
  line-height: 1.2;
  color: #878787;
}

.img-wrapper .img-wrapper-box {
  height: 100%;
}

.img-wrapper .img-wrapper-box .img-wrapper-box-list {
  width: 10rem;
  height: 100%;
  background-size: cover;
}

.img-wrapper .corner-info,
.img-wrapper .placeType-info,
.img-wrapper .collection {
  position: absolute;
  display: inline-block;
  z-index: 999;
}

.img-wrapper .corner-info {
  top: 0;
  left: 0;
  width: 1.30556rem;
  height: 1.30556rem;
}

.img-wrapper .corner-info img {
  width: 100%;
}

.img-wrapper .placeType-info {
  bottom: 0.27778rem;
  left: 0.27778rem;
  padding: 0.13889rem 0.16667rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.05556rem;
  font-size: 12px;
  color: #fff;
}

.img-wrapper .collection {
  right: 0.27778rem;
  bottom: 0.27778rem;
  width: 1.11111rem;
  height: 0.83333rem;
  padding-top: 0.27778rem;
  text-align: right;
  font-size: 25px;
  color: #fff;
}

[data-dpr="2"] .img-wrapper:before, [data-dpr="2"] .img-wrapper:after {
  font-size: 28px;
}

[data-dpr="2"] .img-wrapper .placeType-info {
  font-size: 24px;
}

[data-dpr="2"] .img-wrapper .collection {
  font-size: 50px;
}

[data-dpr="3"] .img-wrapper:before, [data-dpr="3"] .img-wrapper:after {
  font-size: 28px;
}

[data-dpr="3"] .img-wrapper .placeType-info {
  font-size: 36px;
}

[data-dpr="3"] .img-wrapper .collection {
  font-size: 75px;
}

.more-btn-box {
  width: 100%;
  padding: 0.69444rem 0 0.55556rem;
  background-color: #fff;
  text-align: center;
}

.more-btn-box .moreBtn {
  display: inline-block;
  min-width: 3.47222rem;
  padding: 0 0.27778rem;
  height: 0.83333rem;
  background-color: #fff;
  border: 1px solid #ff7200;
  border-radius: 0.08333rem;
  font-size: 13px;
  color: #ff7200;
  line-height: 0.80556rem;
}

.more-btn-box i {
  font-size: 15px;
}

[data-dpr="2"] .more-btn-box .moreBtn {
  font-size: 26px;
}

[data-dpr="2"] .more-btn-box i {
  font-size: 30px;
}

[data-dpr="3"] .more-btn-box .moreBtn {
  font-size: 39px;
}

[data-dpr="3"] .more-btn-box i {
  font-size: 45px;
}
