@font-face {
  font-family: "cdp-iconfont";
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
}

.cdp-iconfont {
  font-family: "cdp-iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.mb20 {
  margin-bottom: 0.27778rem;
}

.main {
  width: 100%;
  height: auto;
}

.index-header {
  width: 100%;
  height: 6.94444rem;
  background: #ff627a url(../img/index-big-banner.jpg) no-repeat center center;
  background-size: 100%;
}

.classify {
  position: relative;
}

.classify .clearfix {
  *height: 1%;
}

.classify .clearfix:after {
  clear: both;
  content: ' ';
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.classify:before {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 0.02778rem;
  height: 100%;
  background-color: #efefef;
}

.classify:after {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 100%;
  height: 0.02778rem;
  background-color: #efefef;
}

.classify .classify-item {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 2.38889rem;
  padding: 2px 3px 3px 2px;
  background: #fff url(../img/classify-bg-1.png) no-repeat 90% center;
  background-size: 1.55556rem;
}

.classify .classify-item .classify-item-title {
  position: absolute;
  top: 0.72222rem;
  left: 0.27778rem;
}

.classify .classify-item .classify-item-title h3, .classify .classify-item .classify-item-title p {
  width: 3.05556rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.classify .classify-item .classify-item-title h3 {
  font-size: 32px;
  color: #bf1cbd;
}

.classify .classify-item .classify-item-title p {
  margin-top: 0.13889rem;
  font-size: 24px;
  color: #878787;
}
