@font-face {
  font-family: "cdp-iconfont";
  src: url("../css/font/iconfont.eot");
  src: url("../css/font/iconfont.woff") format("woff"), url("../css/font/iconfont.ttf") format("truetype"), url("../css/font/iconfont.svg#iconfont") format("svg");
}

.cdp-iconfont {
  font-family: "cdp-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.mb20 {
  margin-bottom: 0.27778rem;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.float-box {
  position: fixed;
  z-index: 999999;
  left: 0.27778rem;
  bottom: 1.38889rem;
}

.float-box-item {
  display: block;
  width: 0.94444rem;
  height: 0.94444rem;
  margin-bottom: 0.13889rem;
  border-radius: 0.08333rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 0.91667rem;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.float-box-item:link, .float-box-item:visited, .float-box-item:hover, .float-box-item:active {
  color: #fff;
}

[data-dpr="2"] .float-box-item {
  font-size: 48px;
}

[data-dpr="3"] .float-box-item {
  font-size: 72px;
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup .tip {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 70%;
  border-radius: 0.13889rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0.55556rem 0.27778rem;
  background-color: #fff;
  color: #878787;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

[data-dpr="2"] .popup .tip {
  font-size: 32px;
}

[data-dpr="3"] .popup .tip {
  font-size: 48px;
}

.top-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  height: 1.13889rem;
  background-color: #fff;
}

.top-search-area {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #464646;
  font-size: 14px;
}

.top-search-area i {
  margin-left: 0.05556rem;
  font-size: 13px;
  color: #ff7200;
}

.top-search-area span {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.13889rem;
}

.top-search-box {
  position: relative;
  font-size: 14px;
  color: #333;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.top-search-box input[type="text"] {
  text-indent: 0.69444rem;
}

.top-search-box-btn {
  width: 6.25rem;
  height: 0.80556rem;
  border-radius: 0.38889rem;
  border: none;
  background-color: #efefef;
  font-size: 14px;
  color: #333;
}

.top-search-box label {
  position: absolute;
  left: 0.41667rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-search-box label i {
  font-size: 15px;
  color: #878787;
}

.top-search-btn {
  position: relative;
  font-size: 12px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-search-btn-style {
  margin-top: 0.16667rem;
  height: 0.80556rem;
  border-radius: 0.38889rem 0 0 0.38889rem;
  background-color: #ff7200;
  line-height: 0.80556rem;
  color: #fff;
}

.top-search-btn-menu {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 1.13889rem;
  padding-top: 0.16667rem;
  text-align: center;
}

.top-search-btn-menu i {
  display: block;
  width: 0.55556rem;
  height: 2px;
  background-color: #464646;
  margin: 0.13889rem auto;
}

.top-search-btn-menu a {
  display: inline-block;
  padding-bottom: 0.16667rem;
  font-size: 22px;
  color: #464646;
}

.top-search-btn-menu1 {
  padding-top: 0;
}

.top-search-area, .top-search-box, .top-search-btn {
  text-align: center;
  line-height: 1.13889rem;
}

[data-dpr="2"] .top-search-area {
  font-size: 28px;
}

[data-dpr="2"] .top-search-area i {
  font-size: 26px;
}

[data-dpr="2"] .top-search-box {
  font-size: 28px;
}

[data-dpr="2"] .top-search-box-btn {
  font-size: 28px;
}

[data-dpr="2"] .top-search-box label i {
  font-size: 30px;
}

[data-dpr="2"] .top-search-btn {
  font-size: 24px;
}

[data-dpr="2"] .top-search-btn-menu a {
  font-size: 44px;
}

[data-dpr="3"] .top-search-area {
  font-size: 42px;
}

[data-dpr="3"] .top-search-area i {
  font-size: 39px;
}

[data-dpr="3"] .top-search-box {
  font-size: 42px;
}

[data-dpr="3"] .top-search-box-btn {
  font-size: 42px;
}

[data-dpr="3"] .top-search-box label i {
  font-size: 45px;
}

[data-dpr="3"] .top-search-btn {
  font-size: 36px;
}

[data-dpr="3"] .top-search-btn-menu a {
  font-size: 66px;
}

.top-search-list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.13889rem;
  background-color: #efefef;
  border: 1px solid #e2e1e1;
  border-top: none;
}

.top-search-list li {
  padding: 0.13889rem 0.41667rem;
  border-top: 1px solid #e2e1e1;
}

.top-search-list li a {
  font-size: 26px;
  color: #464646;
}

[data-dpr="2"] .top-search-list li a {
  font-size: 52px;
}

[data-dpr="3"] .top-search-list li a {
  font-size: 78px;
}

.user-header {
  position: relative;
  width: 100%;
  height: 4.38889rem;
  padding-top: 1.16667rem;
  background-color: #ff7200;
  text-align: center;
}

.user-header .user-avatar {
  width: 2.41667rem;
  height: 2.41667rem;
  margin: 0 auto;
}

.user-header .user-avatar img {
  width: 100%;
}

.user-header p {
  line-height: 1.16667rem;
  color: #fff;
  font-size: 16px;
}

.user-header .user-header-out {
  position: absolute;
  right: 0.27778rem;
  bottom: 0.27778rem;
  font-size: 14px;
  padding: 0.13889rem 0.27778rem;
}

[data-dpr="2"] .user-header p {
  font-size: 32px;
}

[data-dpr="2"] .user-header .user-header-out {
  font-size: 28px;
}

[data-dpr="3"] .user-header p {
  font-size: 60px;
}

[data-dpr="3"] .user-header .user-header-out {
  font-size: 42px;
}

.user-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.08333rem;
  background-color: #fff;
}

.user-data-order, .user-data-red, .user-data-score {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.user-data-order span, .user-data-red span, .user-data-score span {
  display: block;
}

.user-data-order .user-data-num, .user-data-red .user-data-num, .user-data-score .user-data-num {
  margin-top: 0.41667rem;
  font-size: 21px;
  font-weight: 700;
  color: #ff7200;
}

.user-data-order .user-data-num i, .user-data-red .user-data-num i, .user-data-score .user-data-num i {
  font-size: 12px;
}

.user-data-order .user-data-title, .user-data-red .user-data-title, .user-data-score .user-data-title {
  color: #464646;
  font-size: 14px;
}

.user-data-order:after, .user-data-red:after {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 0.83333rem;
  background-color: #efefef;
}

[data-dpr="2"] .user-data-order .user-data-num, [data-dpr="2"] .user-data-red .user-data-num, [data-dpr="2"] .user-data-score .user-data-num {
  font-size: 42px;
}

[data-dpr="2"] .user-data-order .user-data-num i, [data-dpr="2"] .user-data-red .user-data-num i, [data-dpr="2"] .user-data-score .user-data-num i {
  font-size: 24px;
}

[data-dpr="2"] .user-data-order .user-data-title, [data-dpr="2"] .user-data-red .user-data-title, [data-dpr="2"] .user-data-score .user-data-title {
  font-size: 28px;
}

[data-dpr="3"] .user-data-order .user-data-num, [data-dpr="3"] .user-data-red .user-data-num, [data-dpr="3"] .user-data-score .user-data-num {
  font-size: 63px;
}

[data-dpr="3"] .user-data-order .user-data-num i, [data-dpr="3"] .user-data-red .user-data-num i, [data-dpr="3"] .user-data-score .user-data-num i {
  font-size: 36px;
}

[data-dpr="3"] .user-data-order .user-data-title, [data-dpr="3"] .user-data-red .user-data-title, [data-dpr="3"] .user-data-score .user-data-title {
  font-size: 42px;
}

.user-info-list {
  background-color: #fff;
  padding: 0 0.27778rem;
}

.user-info-list li {
  height: 1.25rem;
  line-height: 1.25rem;
}

.user-info-list li .user-info-list-icon {
  display: inline-block;
  width: 0.83333rem;
  font-size: 20px;
  color: #ff7200;
}

.user-info-list li a {
  display: inline-block;
  width: 8.61111rem;
  border-bottom: 1px solid #efefef;
  font-size: 16px;
  color: #333;
}

.user-info-list li a:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.user-info-list li a i {
  float: right;
  color: #878787;
}

.user-info-list li:nth-last-of-type(1) a {
  border-bottom: none;
}

[data-dpr="2"] .user-info-list li .user-info-list-icon {
  font-size: 40px;
}

[data-dpr="2"] .user-info-list li a {
  font-size: 32px;
}

[data-dpr="3"] .user-info-list li .user-info-list-icon {
  font-size: 60px;
}

[data-dpr="3"] .user-info-list li a {
  font-size: 48px;
}

.extra-part {
  background-color: #fff;
  height: 1.38889rem;
  line-height: 1.38889rem;
  text-align: center;
}

.extra-part a {
  font-size: 18px;
  color: #ff7200;
}

[data-dpr="2"] .extra-part a {
  font-size: 36px;
}

[data-dpr="3"] .extra-part a {
  font-size: 54px;
}

.footer {
  background-color: #fff;
  width: 100%;
  height: 1.05556rem;
  line-height: 1.05556rem;
}

.footer span {
  float: left;
  margin-left: 0.27778rem;
}

.footer a {
  width: 30%;
  float: right;
  margin-right: 0.27778rem;
  text-align: right;
}

.footer a,
.footer span {
  font-size: 12px;
  color: #878787;
}

[data-dpr="2"] .footer a,
[data-dpr="2"] .footer span {
  font-size: 24px;
}

[data-dpr="3"] .footer a,
[data-dpr="3"] .footer span {
  font-size: 36px;
}

.inputBlock {
  display: block;
}

.inputText {
  background-color: #fff;
  border: 1px solid #e2e1e1;
  border-radius: 0.08333rem;
  color: #464646;
  font-size: 16px;
}

.inputBtn {
  background-color: #ff7200;
  border: none;
  border-radius: 0.08333rem;
  color: #fff;
  font-size: 16px;
}

[data-dpr="2"] .inputText {
  font-size: 32px;
}

[data-dpr="3"] .inputText {
  font-size: 48px;
}

[data-dpr="2"] .inputBtn {
  font-size: 32px;
}

[data-dpr="3"] .inputBtn {
  font-size: 48px;
}

.inputType1,
.inputType2,
.inputType3,
.inputType4 {
  box-sizing: border-box;
  height: 1.11111rem;
  padding: 0.33333rem 0.27778rem;
  line-height: 0.44444rem;
}

.inputType1 {
  width: 9.44444rem;
}

.inputType2 {
  width: 5.27778rem;
}

.inputType3 {
  width: 3.83333rem;
}

.inputType4 {
  margin: 0 auto;
  width: 9.44444rem;
  height: 1.27778rem;
  padding: 0.41667rem 0.27778rem;
}

.user-form-submit {
  margin: 0.52778rem 0 0.66667rem;
}
