// 没有结果
.no-more {
  text-align: center;

  &-info {
    margin: px2rem(40px, $base-font-size) 0;
    font-size: 26px;
    line-height: 2;
    color: $fontColor3;
  }

  &-btn {
    padding: px2rem(20px, $base-font-size) px2rem(30px, $base-font-size);
    margin-bottom: px2rem(120px, $base-font-size);
    background-color: $bgColor;
    border: 2px solid $cdpColor;
    border-radius: px2rem(40px, $base-font-size);
    font-size: 26px;
    color: $cdpColor;
  }

  i {
    font-size: 30px;
  }
}