// 搜索条
.top-search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: px2rem(82px, $base-font-size);
  background-color: $whiteColor;

  &-area {
    flex: 1;
    color: $fontColor2;
    font-size: 14px;

    i {
      margin-left: px2rem(4px, $base-font-size);
      font-size: 13px;
      color: $cdpColor;
    }
  }

  &-box {
    position: relative;
    font-size: 12px;
    flex: 4;

    input[type="text"] {
      text-indent: px2rem(50px, $base-font-size);
    }

    &-btn {
      width: px2rem(450px, $base-font-size);
      height: px2rem(58px, $base-font-size);
      border-radius: px2rem(28px, $base-font-size);
      border: none;
      background-color: $bgColor;
      font-size: 14px;
      color: $fontColor1;
    }

    label {
      position: absolute;
      left: px2rem(30px, $base-font-size);
      top: 50%;
      transform: translateY(-50%);

      i {
        font-size: 15px;
        color: $fontColor3;
      }
    }
  }

  &-btn {
    font-size: 12px;
    flex: 1;

    &-style {
      margin-top: px2rem(12px, $base-font-size);
      height: px2rem(58px, $base-font-size);
      border-radius: px2rem(28px, $base-font-size) 0 0 px2rem(28px, $base-font-size);
      background-color: $cdpColor;
      line-height: px2rem(58px, $base-font-size);
      color: $whiteColor;
    }
  }

  &-area,
  &-box,
  &-btn {
    text-align: center;
    line-height: px2rem(82px, $base-font-size);
  }
}

[data-dpr="2"] .top-search {
  &-area {
    font-size: 28px;

    i {
      font-size: 26px;
    }
  }

  &-box {
    &-btn {
      font-size: 28px;
    }

    label {
      i {
        font-size: 30px;
      }
    }
  }

  &-box,
  &-btn {
    font-size: 24px;
  }
}

[data-dpr="3"] .top-search {
  &-area {
    font-size: 42px;

    i {
      font-size: 39px;
    }
  }

  &-box {
    &-btn {
      font-size: 42px;
    }

    label {
      i {
        font-size: 45px;
      }
    }
  }

  &-box,
  &-btn {
    font-size: 36px;
  }
}

















