// 搜索条
.top-search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: px2rem(82px, $base-font-size);
  background-color: $whiteColor;

  &-area {
    position: relative;
    flex: 1;
    color: $fontColor2;
    font-size: 14px;

    i {
      margin-left: px2rem(4px, $base-font-size);
      font-size: 13px;
      color: $cdpColor;
    }

    span {
      z-index: 999;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: px2rem(82px, $base-font-size);
    }
  }

  &-box {
    position: relative;
    font-size: 14px;
    color: $fontColor1;
    flex: 4;

    input[type="text"] {
      text-indent: px2rem(50px, $base-font-size);
    }

    &-btn {
      width: px2rem(450px, $base-font-size);
      height: px2rem(58px, $base-font-size);
      border-radius: px2rem(28px, $base-font-size);
      border: none;
      background-color: $bgColor;
      font-size: 14px;
      color: $fontColor1;
    }

    label {
      position: absolute;
      left: px2rem(30px, $base-font-size);
      top: 50%;
      transform: translateY(-50%);

      i {
        font-size: 15px;
        color: $fontColor3;
      }
    }
  }

  &-btn {
    position: relative;
    font-size: 12px;
    flex: 1;

    &-style {
      margin-top: px2rem(12px, $base-font-size);
      height: px2rem(58px, $base-font-size);
      border-radius: px2rem(28px, $base-font-size) 0 0 px2rem(28px, $base-font-size);
      background-color: $cdpColor;
      line-height: px2rem(58px, $base-font-size);
      color: $whiteColor;
    }

    &-menu {
      z-index: 999;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: px2rem(82px, $base-font-size);
      padding-top: px2rem(12px, $base-font-size);
      text-align: center;

      i {
        display: block;
        width: px2rem(40px, $base-font-size);
        height: 2px;
        background-color: $fontColor2;
        margin: px2rem(10px, $base-font-size) auto;
      }

      a {
        display: inline-block;
        padding-bottom: px2rem(12px, $base-font-size);
        font-size: 22px;
        color: $fontColor2;
      }
    }

    &-menu1 {
      padding-top: 0;
    }
  }

  &-area,
  &-box,
  &-btn {
    text-align: center;
    line-height: px2rem(82px, $base-font-size);
  }
}

[data-dpr="2"] .top-search {
  &-area {
    font-size: 28px;

    i {
      font-size: 26px;
    }
  }

  &-box {
    font-size: 28px;

    &-btn {
      font-size: 28px;
    }

    label {
      i {
        font-size: 30px;
      }
    }
  }

  &-btn {
    font-size: 24px;

    &-menu {
      a {
        font-size: 44px;
      }
    }
  }
}

[data-dpr="3"] .top-search {
  &-area {
    font-size: 42px;

    i {
      font-size: 39px;
    }
  }

  &-box {
    font-size: 42px;

    &-btn {
      font-size: 42px;
    }

    label {
      i {
        font-size: 45px;
      }
    }
  }

  &-btn {
    font-size: 36px;

    &-menu {
      a {
        font-size: 66px;
      }
    }
  }
}

.top-search-list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: px2rem(82px, $base-font-size);
  background-color: $bgColor;
  border: 1px solid $fontColor4;
  border-top: none;

  li {
    padding: px2rem(10px, $base-font-size) px2rem(30px, $base-font-size);
    border-top: 1px solid $fontColor4;

    a {
      font-size: 26px;
      color: $fontColor2;
    }
  }
}

[data-dpr="2"] .top-search-list {
  li {
    a {
      font-size: 52px;
    }
  }
}

[data-dpr="3"] .top-search-list {
  li {
    a {
      font-size: 78px;
    }
  }
}













