@charset "UTF-8";

// 转换 rem 基数
$base-font-size: 72px;

@font-face {
  font-family: "cdp-iconfont";
  src: url('//at.alicdn.com/t/font_ifnmwuqfqidon7b9.eot');
  // IE9
  src:url('//at.alicdn.com/t/font_ifnmwuqfqidon7b9.woff') format('woff'),
  // chrome、firefox
  url('//at.alicdn.com/t/font_ifnmwuqfqidon7b9.ttf') format('truetype'),
  // chrome、firefox、opera、Safari, Android, iOS 4.2+
  url('//at.alicdn.com/t/font_ifnmwuqfqidon7b9.svg#iconfont') format('svg');
  // iOS 4.1-
}


// 定义图标字体
.cdp-iconfont {
  font-family: "cdp-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

// 清楚浮动
.clearfix {
  @include clearfix;
}

// 通用间距设置
.mb20 {
  margin-bottom: px2rem(20px, $base-font-size);
}

// 显示隐藏
.hide {
  display: none !important;
}
.show {
  display: block;
}

// 浮动导航
.float-box {
  position: fixed;
  z-index: 999999;
  left: px2rem(20px, $base-font-size);
  bottom: px2rem(100px, $base-font-size);

  &-item {
    display: block;
    width: px2rem(68px, $base-font-size);
    height: px2rem(68px, $base-font-size);
    margin-bottom: px2rem(10px, $base-font-size);
    border-radius: px2rem(6px, $base-font-size);
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: px2rem(66px, $base-font-size);
    color: $whiteColor;
    font-size: 24px;
    font-weight: 200;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $whiteColor;
    }
  }
}

[data-dpr="2"] .float-box {
  &-item {
    font-size: 48px;
  }
}

[data-dpr="3"] .float-box {
  &-item {
    font-size: 72px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}



// 信息提示层
.popup {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  background-color: rgba(0, 0, 0, .4);

  .tip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 70%;
    border-radius: px2rem(10px, $base-font-size);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    padding: px2rem(40px, $base-font-size) px2rem(20px, $base-font-size);
    background-color: $whiteColor;
    color: $fontColor3;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }
}

[data-dpr="2"] .popup {
  .tip {
    font-size: 32px;
  }
}

[data-dpr="3"] .popup {
  .tip {
    font-size: 48px;
  }
}
