@import "common";
@import "global";

// 首页头部
.index-header {
  width: 100%;
  height: px2rem(500px, $base-font-size);
  background: $cdpColor url("../img/index-big-banner.jpg") no-repeat center center;
  background-size: 100%;

  .header-top {
    box-sizing: border-box;
    padding: 0 px2rem(20px, $base-font-size);
    height: px2rem(100px, $base-font-size);
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));

    .logo {
      float: left;
      width: px2rem(136px, $base-font-size);
      height: px2rem(40px, $base-font-size);
      margin-top: px2rem(20px, $base-font-size);
      background: url(../img/index-logo.png) no-repeat center center;
      background-size: 100%;
    }

    .area {
      position: relative;
      float: right;
      font-size: 32px;
      line-height: px2rem(84px, $base-font-size);
      color: $whiteColor;

      i {
        margin-left: px2rem(10px, $base-font-size);
        font-size: 24px;
      }
    }
  }

  .header-slogan {
    width: 100%;
    margin-top: px2rem(86px, $base-font-size);
    text-align: center;
    font-size: 60px;
    color: $whiteColor;
    letter-spacing: 5px;
    text-shadow: 0 0 30px rgba(68, 75, 12, .5);
  }

  .header-search {
    display: block;
    box-sizing: border-box;
    margin: px2rem(112px, $base-font-size) auto 0;
    width: px2rem(680px, $base-font-size);
    height: px2rem(70px, $base-font-size);
    border: 2px solid $cdpColor;
    background-color: $whiteColor;
    border-radius: px2rem(34px, $base-font-size);
    text-align: center;
    line-height: px2rem(66px, $base-font-size);
    font-size: 24px;
    color: $fontColor3;
    letter-spacing: 3px;

    i {
      font-size: 30px;
      color: $fontColor4;
      margin-right: 6px;
    }
  }
}

// 小分类推荐
.classify {
  position: relative;
  background-color: $whiteColor;

  &:before,
  &:after {
    position: absolute;
    z-index: 99;
    background-color: $bgColor;
    content: "";
  }

  &:before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: px2rem(2px, $base-font-size);
    height: 100%;
  }

  &:after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: px2rem(2px, $base-font-size);
  }

  &-item {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: px2rem(172px, $base-font-size);
    padding: 2px 3px 3px 2px;
    background: $whiteColor url("../img/classify-bg-1@3x.png") no-repeat 90% center;
    background-size: px2rem(112px, $base-font-size);

    &-title {
      position: absolute;
      top: px2rem(52px, $base-font-size);
      left: px2rem(20px, $base-font-size);

      h3,
      p {
        width: px2rem(230px, $base-font-size);
        @include ellipsis;
      }

      h3 {
        font-size: 32px;
        color: $subColor;
      }

      p {
        margin-top: px2rem(10px, $base-font-size);
        font-size: 24px;
        color: $fontColor3;
      }
    }
  }
}

// 样式块
.part {
  width: 100%;

  &-title {
    background-color: $whiteColor;
    height: px2rem(92px, $base-font-size);
    padding-left: px2rem(20px, $base-font-size);
    color: $fontColor1;
    font-size: 36px;
    line-height: px2rem(92px, $base-font-size);
  }

  // 场地派推荐
  .recommend-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $whiteColor;

    .recommend {
      width: 600%;
      margin-left: px2rem(20px, $base-font-size);

      &-item {
        float: left;
        margin-right: px2rem(20px, $base-font-size);

        a {
          display: block;
          width: px2rem(600px, $base-font-size);
          height: px2rem(378px, $base-font-size);
          background-color: $cdpColor;
        }

        &-title {
          height: px2rem(90px, $base-font-size);
          color: $fontColor2;
          font-size: 32px;
          line-height: px2rem(80px, $base-font-size);
          margin-bottom: px2rem(10px, $base-font-size);
        }
      }
    }
  }
}

// 额外块
.extra-part {
  background-color: $whiteColor;
  height: px2rem(140px, $base-font-size);
  line-height: px2rem(140px, $base-font-size);
  text-align: center;

  a {
    font-size: 36px;
    color: $cdpColor;
  }
}

// 通用组件
@import "component/placeItem";
@import "component/footer";



